html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-shadow: 0;
}


/* main */

body {
    overflow-x: hidden;
}

hr {
    height: 1px;
    width: 10%;
    background-color: red;
    margin: auto;
    margin-bottom: 10px;
}


/* class*************  */

.section {
    width: 100vw;
    height: 100vh;
    background-image: url('./Screenshot\ \(55\).png');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.display-1 {
    margin-top: 10%;
    font-size: 7rem;
}

.yes {
    font-size: 1.4rem;
}

.NO {
    font-size: 3rem;
}

.gs {
    letter-spacing: 1.1px;
    word-spacing: 1.1px;
}

.nice {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.row {
    border: 2px solid black;
    background-color: rgb(137, 11, 255);
}

.size {
    width: 100px;
}


/* id**************** */

#font {
    font-family: 'Anton', sans-serif;
}

#btn {
    display: block;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 8px 13px;
}

#card {
    background-color: #01CBC6;
}

#footer {
    background-color: rgb(48, 37, 37);
}